@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    background-color:#f9f3ee;
  }
  .main-container {
    background-color: #f9f3ee;
    align-items: center;
  }

  .crucibleIcon {
    max-width: 27%;
    border: 2px solid white;
    border-radius: 50%;
  }
  
  #crucible {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  button {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #f9f3ee;
    background-color: rgb(139, 61, 61);
    margin: 10px;
  }
  
  label {
    color: rgb(139, 61, 61);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin: 10px;
  }

  /* Header */
  header {
    background-color: #f9f3ee;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: rgb(139, 61, 61);
    width: 100vw;
  }

