

.navbar-container {
    background-color: rgb(139, 61, 61);
    padding: 10px;
    font-size: 1.75rem;
    display: flex;
    justify-content: flex-start;
  }
  .nav-item {
    color: white;
    padding: 10px;
    /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  }

  .nav-item:hover {
    text-decoration: none;
    color: black;
    background-color: white;
  }

  /* .link-container {
    background-color: white
  } */