.title-container {
    display: flex;
    width: 100%;
  }

  .title-container h1 {
    font-size: 50px;
  }

  .title-container a {
    display: flex;
    max-width: fit-content;
    max-height: fit-content;
    
  }

  .main-title {
    margin: 0;
    padding: 10px;
    text-align: start;
  }
  .title-container small {
    position: absolute;
    top: 10px;
    right: 10px;
  }